
  @font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1{
  font-family: 'SEGA LOGO FONT';
font-size: 30px;
color:rgb(213, 0, 5);
text-decoration: underline;	
}

body{
  background: #F4F4F4;
}